
$text-color:#ffffff;
$grey:#ECECEC;
/* box-shadow */
$box-shadow-1: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$box-shadow-2: 0 0 0 40px rgba(10, 165, 205, 0);
$box-shadow-3: 0 0 5px rgba(0, 253, 84, 0.5);

/* border-radius */
$border-radius: 5px;
$circle: 50%;

/* transition */
$transition-1: all 300ms ease;
$transition-2: all 500ms ease;