@import "../../../assets/style/style.scss";
.bg {
  background-image: url("../../../assets/media/painting.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(102, 99, 99, 0.571);
    z-index: 5;
  }
  .text {
    position: absolute;
    z-index: 10;
    color: $text-color;
    h1{
        margin-bottom: 10px;
    }
  }
}
