
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

input,
button,
textarea {
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}


